

<table class="table">
  <thead class="">
    <tr>
    <th scope="col"><h3>Country Details</h3></th>
    </tr>

  </thead>
  
  <tbody>
    <tr>
    <td scope="row">Country: {{ name}}</td>
 
    </tr>
    <tr>
      <td scope="row">Capital: {{ capital }}</td>
    </tr>
    <tr>
      <td scope="row">Region: {{ region }}</td>
    </tr>
    <tr>
      <td scope="row">Income Level: {{ income }}</td>
    </tr> 
    <tr>
      <td scope="row">Latitude: {{ latitude }}</td>
    </tr>
    <tr>
      <td scope="row">Longitude: {{ longitude }}</td>
    </tr>
    <tr></tr>
    
  </tbody>
</table>
