
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-column {
    flex: 5;
    margin: auto;
  }
  
  .right-column {
    font-size: x-large;
    flex: 1;
    border: 40px;
    border-style: double; 
    margin-left: auto;
    height: 50%;
    margin-right: auto;
    padding: 20px;
    margin: 5px;
    
  }
  
