<div class ="container"> 
  <h1>{{title}}</h1>
  <div class="left-column">
      <app-map
      (name)="OnNameChange($event)"
      (capital)="OnCapitalChange($event)"
      (region)="OnRegionChange($event)"
      (income)="OnIncomeChange($event)"
      (longitude)="OnLongitudeChange($event)"
      (latitude)="OnLatitudeChange($event)" 
      ></app-map>
    </div>


  <div class="right-column">
    <app-map-info   
    
    [name]="name"
    [capital]="capital"
    [region]="region"
    [income]="income"
    [longitude]="longitude"
    [latitude]="latitude" 
    ></app-map-info> 
    
  </div>



</div>



